* {
  padding: 0;
  margin: 0;
}

/* Medium */

@media (min-width: 700px) and (max-width: 992px) {
  .mb-lg-0 {
    justify-content: left !important;
  }
  .nav-item {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .content-1:nth-child(1) {
    order: 2;
  }
  .content-1:nth-child(2) {
    order: 1;
  }
  .content-1 {
    align-items: center;
    text-align: center;
  }
  .content-4 {
    align-items: center;
    text-align: center;
  }
  .content-4 h1 {
    text-align: center;
  }
}
