body {
  margin: 0;
  padding: 0;
  background: url(./Assets/wallpapers.jpg);
  background-repeat: repeat;
}

.nav-link {
  padding: 6px;
  transition: color 0.5s ease;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #f8f8f8;
  text-decoration: underline;
}

.demo {
  transition: color 0.5s ease;
  font-weight: bold;
}

.demo:hover {
  background-color: rgb(255, 42, 141);
}

@media (min-width: 768px) and (max-width: 992px) {
  .text-md-center {
    text-align: center !important; /* Importan! ini saya pakai untuk mengatur layer Medium */
  }
  .content-3 {
    font-size: 16px;
  }

  .text-lg-left {
    text-align: center;
  }
  .content-4 {
    height: 36rem;
    margin: auto;
  }
  .content-4 a p {
    font-size: 30px;
    margin-bottom: 20rem;
  }
  .footer-1 {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .Footer-2 {
    margin-bottom: 22rem;
  }
}
/*  */

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; /* Importan! ini saya pakai untuk mengatur layer Large */
  }
  .text-3 {
    .font-size: 25px;
  }
  .content-4-lg {
    height: 50rem;
    margin-bottom: 10rem;
  }
}
.footer-1 {
  margin-top: 100px;
}

/*  */
